@using BookShoppingCartMvc.Application.Dto;

@model List<BookDto>

@{
    
}

<div class="my-2">
    <form class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormSelectPref">Genres</label>
            <select class="form-select" id="genreId">
                <option selected>Choose...</option>
                <option value="1">Action</option>
                <option value="2">Horror</option>
                <option value="3">Adventure</option>
                <option value="3">IT Education</option>
                <option value="3">Romance</option>
                <option value="3">Science Fiction</option>
            </select>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Search by title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" id="filter" placeholder="Search by title">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<div class="d-flex flex-wrap justify-content-around content-wrapper">
    @foreach(var book in Model)
    {
        <div class="card mx-2 mb-4 card-item">
            @if(string.IsNullOrEmpty(book.CoverUrl))
            {
                <img src="https://www.afrizar.com/images/no-image.png" class="card-img-top book-cover" alt="...">
            }
            else
            {
                <img src=@book.CoverUrl class="card-img-top book-cover" alt="...">
            }
            <div class="card-body">
                <h5 class="card-title book-title">@book.Name</h5>
                <p class="card-text card-description">
                    <b>Author: </b>@book.AuthorName <br/>
                    <b>Genre: </b>@book.GenreName <br/>
                    <b>Price: </b>@book.Price$ <br/>
                </p>
                <div class="d-flex justify-content-center transition-scale">
                    <button href="#" class="btn btn-primary add-to-cart-button">Add to cart</button>
                </div>
            </div>
        </div>
    }
</div>
